<h1><%= tituloForm %></h1>
<form action="/<%= action %>" method="post">
    <input type="text" name="tarefa" id="tarefa" placeholder="Insira uma tarefa" value="<%=  value %>">
    <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>
</form>