<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista de Tarefas</title>
</head>

<body>
    <header>
        <% if (tarefa == null) { %>
            <form action="/create" method="post">
                <input type="text" name="tarefa" id="tarefa" placeholder="Insira uma tarefa">
                <button id="btnAdicionar" type="submit">Adicionar</button>
            </form>
            <% } else { %>
                <form action="/updateOne/<%= tarefa._id %>" method="post">
                    <input type="text" name="tarefa" id="tarefa" value="<%= tarefa.tarefa %>">
                    <button id="btnAdicionar" type="submit">Atualizar</button>
                </form>
                <% } %>
    </header>

    <section id="tarefas">
        <ul>
            <% listaTarefas.forEach((tarefa)=> {%>
                <li>
                    <%= tarefa.tarefa %> | <%= tarefa.date.toLocaleDateString('pt-BR') %>
                            <a href="/getById/<%= tarefa._id %>/update">Editar</a>
                            <a href="/getById/<%= tarefa._id %>/delete">Apagar</a>
                </li>
                <% }) %>
        </ul>
    </section>

    <% if (tarefaDelete != null) { %>
    <section id="modal">
        <div id="card ">

            <a href="/">x</a>
            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente apagar a tarefa: <%= tarefaDelete.tarefa %>? </p>
            <a href="/">Não</a>
            <a href="/deleteOne/<%= tarefaDelete._id %>">Sim</a>

        </div>
    </section>
     <% } %>

    <script src="script.js"></script>
</body>

</html>